body {
	background: black;
	color: #00ff00;
	font-size: 200%;
	font-family: raleway;
}
input {
	background: transparent;
	color: #00ff00;
	width: 100%;
	border: 0px solid white;
	border-bottom: 1px solid white;
}
input:focus {
    outline:none;
}
pre {
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	border: none;
	color: inherit;
}
h3 {
	color: white;
	cursor: pointer;
	text-decoration: underline;
	margin-top: 0;
	font-size: 80%;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 40px;
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #00ff00; 
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00bf00;
    transition: 0.5s;
    cursor: pointer;
}